@import "./variables";

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(type-of($raw-query) == "string", unquote($raw-query), inspect($raw-query));

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

@mixin container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  @include respond-to("large") {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content 10fr;
    gap: 1rem 2rem;
    margin: 1rem 2rem;
  }
}

@mixin description {
  font-family: $primary-font;
  font-size: 0.75rem;
  padding: 1rem 0;
  line-height: 1.25em;
  @include respond-to("large") {
    font-size: 0.875rem;
  }
}
