$breakpoints: (
  "small": (
    min-width: 300px,
  ),
  "medium": (
    min-width: 481px,
  ),
  "large": (
    min-width: 781px,
  ),
  "huge": (
    min-width: 1025px,
  ),
);

$primary-color: #dadada;
$secondary-color: #cdcdcd;
$tetriary-color: #c0c0c0;
$color-light: #fff;
$color-dark: #16161d;

$primary-font: "Montserrat", sans-serif;
$secndary-font: "Montserrat Subrayada", sans-serif;
