$breakpoints: (
  "small": (
    min-width: 300px,
  ),
  "medium": (
    min-width: 481px,
  ),
  "large": (
    min-width: 781px,
  ),
  "huge": (
    min-width: 1025px,
  ),
);

$primary-color: #111;
$secondary-color: #555;
$tetriary-color: #fff;

@font-face {
  font-family: "Mona Sans";
  src: url("Mona-Sans.woff2") format("woff2 supports variations"), url("Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: "Hubot Sans";
  src: url("Hubot-Sans.woff2") format("woff2 supports variations"), url("Hubot-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

$primary-font: "Mona Sans";
$secndary-font: "Hubot Sans";
