$breakpoints: (
  "small": (
    min-width: 300px,
  ),
  "medium": (
    min-width: 481px,
  ),
  "large": (
    min-width: 781px,
  ),
  "huge": (
    min-width: 1025px,
  ),
);

$primary-color: #ebebeb;
$secondary-color: #9cb1ce;
$tetriary-color: #374b78;
$color-light: #fff;
$color-dark: #16161d;
$color-header-dark: #374b78;
$color-header-light: #9cb1ce;

$primary-font: "Montserrat", sans-serif;
$secndary-font: "Montserrat Subrayada", sans-serif;
