.footer {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.footer-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  font-size: 0.75rem;
}
