@import "../utilities/variables";
@import "../utilities/mixins";

.form-container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.form-cotainer-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.form-field {
  width: 60%;
}

.css-1eed5fa-MuiInputBase-root-MuiInput-root::after,
.css-uhyr2s-MuiInputBase-root-MuiInput-root::after {
  border-bottom: 2px solid $color-header-dark !important;
}

.Mui-focused {
  color: $color-header-dark !important;
}
