.header {
  &-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    align-self: start;
    flex-direction: column;
    z-index: 1;
  }

  &-link {
    text-decoration: none;
    color: $color-header-dark;
    max-width: fit-content;
  }

  &-text {
    font-size: 1.4rem;
    white-space: pre-line;
    cursor: pointer;

    @include respond-to("large") {
      font-size: 2rem;
    }
  }

  &-text-second-line {
    font-size: 1.2rem;
    white-space: pre-line;
    cursor: pointer;

    @include respond-to("large") {
      font-size: 1.625rem;
    }
  }
}
