@import "../utilities/variables";

.menu-container {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  width: max-content;
}

.menu-button {
  color: $color-dark;
  border: none;
  background-color: $primary-color;
  text-align: left;
  cursor: pointer;
}

.MuiMenu-list {
  color: $color-dark;
  background-color: $primary-color;
  font-size: 0.5rem;
}

.MuiPopover-root {
  min-height: auto;
}
