@import "../utilities/variables";

.menu-container {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.menu-button {
  color: $color-dark;
  border: none;
  background-color: $primary-color;
  text-align: left;
  cursor: pointer;
}

.MuiMenu-list {
  font-family: $primary-font;
  color: $color-dark;
  background-color: $primary-color;
  font-size: 12px;
}
