@import "../../../node_modules/reset-css/reset.css";
* {
  box-sizing: border-box;
  min-height: -moz-min-content;
  min-height: min-content;
}

html,
body {
  font-family: "Montserrat Subrayada", sans-serif;
  width: 100%;
  min-height: 100%;
  color: #16161d;
  background-color: #9cb1ce;
  overflow: auto;
}

h1 {
  font-size: 1.4rem;
}
@media (min-width: 781px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.2rem;
}
@media (min-width: 781px) {
  h2 {
    font-size: 1.625rem;
  }
}

h3 {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0;
}
@media (min-width: 781px) {
  h3 {
    font-size: 1.2rem;
  }
}

br {
  display: block;
  content: "";
  margin-bottom: 1rem;
}

.footer {
  grid-column: 2/3;
  grid-row: 1/4;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.footer-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  font-size: 0.75rem;
}

.header-container {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  align-self: start;
  flex-direction: column;
  z-index: 1;
}
.header-link {
  text-decoration: none;
  color: #374b78;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.header-text {
  font-size: 1.4rem;
  white-space: pre-line;
  cursor: pointer;
}
@media (min-width: 781px) {
  .header-text {
    font-size: 2rem;
  }
}
.header-text-second-line {
  font-size: 1.2rem;
  white-space: pre-line;
  cursor: pointer;
}
@media (min-width: 781px) {
  .header-text-second-line {
    font-size: 1.625rem;
  }
}

.menu-container {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  width: -moz-max-content;
  width: max-content;
}

.menu-button {
  color: #16161d;
  border: none;
  background-color: #ebebeb;
  text-align: left;
  cursor: pointer;
}

.MuiMenu-list {
  color: #16161d;
  background-color: #ebebeb;
  font-size: 0.5rem;
}

.MuiPopover-root {
  min-height: auto;
}

.project-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
@media (min-width: 781px) {
  .project-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content 10fr;
    gap: 1rem 2rem;
    margin: 1rem 2rem;
  }
}
.project-name {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 1.5rem 0;
}
@media (min-width: 781px) {
  .project-name {
    margin: 1rem 0;
  }
}
.project-image-container {
  grid-column: 2/3;
  grid-row: 1/3;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 15px 5px #374b78;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 54%;
}
.project-link-container {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-description {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  padding: 1rem 0;
  line-height: 1.2em;
  grid-column: 1/2;
  grid-row: 2/4;
  padding-right: 1rem;
}
@media (min-width: 781px) {
  .project-description {
    font-size: 0.875rem;
  }
}
@media (min-width: 781px) {
  .project-description {
    padding-right: 3rem;
    padding-top: 0;
  }
}

.form-container {
  grid-column: 2/3;
  grid-row: 1/2;
}

.form-cotainer-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.form-field {
  width: 60%;
}
.form-field-button {
  width: 60%;
  text-align: center;
}

.css-1eed5fa-MuiInputBase-root-MuiInput-root::after,
.css-uhyr2s-MuiInputBase-root-MuiInput-root::after {
  border-bottom: 2px solid #374b78 !important;
}

.Mui-focused {
  color: #374b78 !important;
}

@media (min-width: 781px) {
  .contact-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem 2rem;
    margin: 1rem 2rem;
  }
}
.contact-container-links {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 2rem 0;
  gap: 1rem;
}
.contact-container-links-button {
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.about-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
@media (min-width: 781px) {
  .about-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content 10fr;
    gap: 1rem 2rem;
    margin: 1rem 2rem;
  }
}
.about-image {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-image-container {
  display: flex;
  justify-content: center;
  max-height: 50vh;
}
@media (min-width: 781px) {
  .about-image-container {
    grid-column: 1/2;
    grid-row: 1/3;
  }
}
@media (min-width: 781px) {
  .about-stack-container {
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    justify-content: flex-end;
  }
}
@media (min-width: 781px) {
  .about-description-container {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
.about-description-content {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  padding: 1rem 0;
  line-height: 1.2em;
}
@media (min-width: 781px) {
  .about-description-content {
    font-size: 0.875rem;
  }
}
.about-link {
  text-decoration: none;
  color: #16161d;
  font-weight: 600;
  cursor: pointer;
}

.stack-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

.stack-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebebeb;
  border: none;
  height: 3rem;
  width: 3rem;
  border: 1px solid #16161d;
  border-radius: 0.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5px;
}
@media (min-width: 781px) {
  .stack-button {
    height: 4rem;
    width: 4rem;
  }
}
.stack-button-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.canva {
  position: absolute;
  width: calc(100% - 4rem);
  height: calc(100vh - 4rem);
  left: 2rem;
  top: 2rem;
  z-index: 0;
  border-radius: 0.5rem;
  align-self: center;
}
@media (min-width: 781px) {
  .canva {
    width: calc(100% - 6rem);
    height: calc(100vh - 6rem);
    left: 3rem;
    top: 3rem;
  }
}
@media (min-width: 1025px) {
  .canva {
    width: calc(100% - 16rem);
    height: calc(100vh - 6rem);
    left: 8rem;
    top: 3rem;
  }
}

.layout {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 4rem auto 6rem;
  background-color: #ebebeb;
  margin: 2rem;
  padding: 1rem 0.2rem 1rem 1rem;
  min-height: calc(100vh - 4rem);
  box-shadow: 5px 5px 15px 5px #374b78;
  align-items: center;
  border-radius: 0.5rem;
  z-index: -1;
}
@media (min-width: 781px) {
  .layout {
    margin: 3rem;
    grid-template-columns: 95% 5%;
    grid-template-rows: 6rem auto 6rem;
    min-height: calc(100vh - 6rem);
  }
}
@media (min-width: 1025px) {
  .layout {
    margin: 3rem 8rem;
  }
}

.children {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: baseline;
}/*# sourceMappingURL=style.css.map */